<h1 class="uk-text-large">New Event</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.team_source_event_path(@conn, :create, @team, @source.source)) %>

<span><%= link "Back", to: Routes.team_source_event_path(@conn, :index, @team, @source.source) %></span>
