openapi: 3.1.0
info:
  title: Loom
  description: "Loom is an event store for event-sourced systems."
  version: 1.0.0
  license:
    name: MIT
    url: https://mit-license.org/
servers:
  - url: https://cantido.github.com/loom
tags:
  - name: sources
  - name: events
  - name: adapters
  - name: webhooks
paths:
  /adapters/aws/s3:
    post:
      operationId: postAwsS3Event
      tags:
        - events
        - adapters
      description: Create a new event from an Amazon S3 compatible event
  /api/events:
    post:
      operationId: createEvent
      tags:
        - events
      description: Create a new event
      requestBody:
        description: The event to create
        required: true
        content:
          application/cloudevents+json; charset=utf-8:
            schema:
              $ref: 'https://raw.githubusercontent.com/cloudevents/spec/v1.0.2/cloudevents/formats/cloudevents.json'
            examples:
              event:
                $ref: '#/components/examples/event'
  /api/sources:
    get:
      operationId: getSources
      tags:
        - sources
      description: Get a source
    post:
      operationId: createSource
      tags:
        - sources
      description: Create a source
  /api/sources/{sourceId}:
    get:
      operationId: getSource
      tags:
        - sources
      description: Get info about a single event source
    put:
      operationId: putSource
      tags:
        - sources
      description: Update information about a source
    parameters:
      - $ref: '#/components/parameters/pathSource'
  /api/sources/{sourceId}/events:
    get:
      operationId: getSourceEvents
      tags:
        - events
      description: Get all events from a single source
    post:
      operationId: createSourceEvent
      tags:
        - events
      description: Create a new event from a single source
  /api/sources/{sourceId}/events/{eventId}:
    get:
      operationId: getEvent
      tags:
        - events
      description: Get a single event
      responses:
        '201':
          description: The requested event
          content:
            application/cloudevents+json; charset=UTF-8:
              schema:
                $ref: 'https://raw.githubusercontent.com/cloudevents/spec/v1.0.2/cloudevents/formats/cloudevents.json'
              examples:
                event:
                  $ref: '#/components/examples/event'
components:
  examples:
    event:
      summary: An event
      value:
        specversion: "1.0"
        type: com.example.someevent
        source: /mycontext
        id: C234-1234-1234
        time: 2018-04-05T17:31:00Z
        comexampleextension1: value
        comexampleothervalue: 5
        datacontenttype: application/json
        data:
          appinfoA: abc
          appinfoB: 123
          appinfoC: true
  parameters:
    pathSource:
      name: sourceId
      in: path
      required: true
      description: Source value to fetch
      schema:
        type: string
