<main class="uk-container">
  <.alert conn={@conn} type={:primary} />
  <.alert conn={@conn} type={:success} />
  <.alert conn={@conn} type={:warning} />
  <.alert conn={@conn} type={:danger} />
  <%= @inner_content %>
</main>
