<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Loom", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <header class="uk-container">
      <nav uk-navbar class="uk-navbar-container">
        <div class="uk-navbar-left">
          <%= link "Loom", to: Routes.page_path(@conn, :index), class: "uk-logo" %>

        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <%= if @current_user do %>
              <li>
                <a href="#"><%= @current_user.email %></a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
                    <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
                  </ul>
                </div>
              </li>
            <% else %>
              <li><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
              <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
