<ul class="uk-breadcrumb">
  <li><%= link "Teams", to: Routes.team_path(@conn, :index) %></li>
  <li><span><%= @team.name %></span></li>
</ul>

<h2 class="uk-heading-small">Tokens</h2>

<table class="uk-table">

</table>

<span><%= link "Edit", to: Routes.team_path(@conn, :edit, @team), class: "uk-button uk-button-primary" %></span>
